.hinted {
  width: 100%;
  position: relative;
  display: inline-block;
}

.hint-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hinted:hover .hint-content {
  display: block;
}

.hint-item {
  margin:0;
  width: 100%;
  padding:5px 15px;
}
.hint-item:hover {
  background: #ddd;
}
